*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-grey{
  background-color: rgb(230, 230, 230);
}

.vh-100{
  height: 100vh;
}

@media screen and (max-width:1400px){
  .vh-100{
    height: auto;
  }
}

.btn:hover .bi{
  color: white !important;
  transition: 0.4s all;
}

.caja-de-horarios{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horario{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  margin: 10px 8px;
  box-shadow: 2px 3px 15px rgb(201, 201, 201);
}

.horario-titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
}

.cantidad-cajas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  align-items: flex-end;
  border-radius: 10px;
}

.cantidad-cajas--titulo{
  color: white;
  font-size: 15px;
}

.cantidad-cajas--items{
  margin-left: 10px;
  color: rgb(201, 201, 201);
  font-size: 39px;
  align-self: flex-end;
  line-height: 40px;
}

.btn--horario{
  border: none;
  width: 150px;
}