*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caja-de-horarios{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  padding: 10px;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  margin: 10px 8px;
}

.horario__elemento-contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cantidad-cajas{
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 58, 58);
  color: white;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  align-items: flex-end;
  border-radius: 10px;
}

.cantidad-cajas--titulo{
  color: white;
  font-size: 25px;
}

.cantidad-cajas--items{
  margin-left: 10px;
  color: rgb(201, 201, 201);
  font-size: 39px;
  align-self: flex-end;
  line-height: 50px;
}